.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;

  margin: 0 auto;
  text-align: center;

  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;

  margin: 0 auto;
  text-align: center;

  font-size: 24px;
  line-height: 34px;
  font-weight: normal;

  padding-top: 20px;
}

.table {
  width: 1100px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;

  margin: 0 auto;

  list-style-type: none;

  padding: 0;
  padding-top: 60px;
}

.table__cell {
  width: 250px;
}

/* Ejemplo de modificador */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__title {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;

  margin: 0;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;

  margin: 0;
  padding-top: 20px;
}
