.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;

  background-color: #f2f2f2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.logo {
  height: 31px;
  width: 154px;
  z-index: 2;
}

.logo_place_header {
  position: absolute;
  top: 35px;
  left: 64px;
}

.header__title {
  max-width: 730px;

  margin-left: 64px;

  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}

.header__subtitle {
  font-size: 18px;
  line-height: 25px;

  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 35px;
  z-index: 3;
}

.header__link {
  font-size: 18px;
  line-height: 25px;
}

.header__subtitle-link {
}

.header__main-ilustration {
  height: 608px;
  width: 756px;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__square-pic {
  height: 568px;
  width: 568px;

  background-color: #2f80ed;

  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}
