.kaufman {
  padding-top: 90px;
  padding-block: 90px;

  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  background-color: #1f1f1f;
}

.section-title_theme_dark {
  color: #ffffff;

  position: relative;
  z-index: 3;
}

.section-subtitle_theme_dark {
  color: #ffffff;

  position: relative;
  z-index: 3;
}

.table_theme_dark {
  width: 1100px;

  position: relative;
  z-index: 3;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;

  margin-top: 80px;
}

.table__title_theme_dark {
  color: #ffffff;
}

.table__text_theme_dark {
  color: #ffffff;
}

.faufman__triangle {
  width: 660px;
  height: 636px;

  position: absolute;
  top: 0;
  right: -124px;
  z-index: 2;
}
