.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto; /* Esto garantiza que todo el contenido esté centrado en todas las pantallas*/
  font-family: "Helvetica Neue", Arial, sans-serif;
}
